<!DOCTYPE html>
<html>
<head>
    <title>Shape Viewer</title>
    
    <link type="text/css" rel="stylesheet" href="shape-view.css" />
</head>
<body>

	<img src="images/shape-view-background.svg" width="664px" height="447px" />	

	<output id="shape-name" />


	<script type="application/ecmascript" src="shape-view.js"></script>
	
	<script type="application/ecmascript" src="../../../src/message-bus.js"></script>
	
	<script type="application/ecmascript" src="../model/domain.js"></script>
	
</body>
</html>