
html, body, object, img
{
	margin: 0px;
	padding: 0px;
}


#shape-list
{
	position: absolute;
	left: 13px;
	top: 43px;
	width: 155px;
	height: 448px;
	overflow: hidden;
}


#shape-content
{
	position: absolute;
	left: 178px;
	top: 43px;
	width: 670px; 
	height: 460px;
	overflow: hidden;
}